{% extends 'base_not_connected.html.twig' %}

{% block title %}Un email pour réinitialisé ton mot de passe a été envoyé{% endblock %}

{% block body %}
    <p>
        Si l'email que tu as rentré correspond à un compte, un email à été envoyé à cette adresse avec un lien pour réinitialiser ton mot de passe.
        
        Ce lien expirera dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si tu ne vois pas l'email, n'oublie pas de regarder tes spams ou click ici : <a href="{{ path('app_forgot_password_request') }}" style="color: lightblue;">renvoyer l'email</a>.</p>
{% endblock %}
