{% extends 'base_not_connected.html.twig' %}
{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser le mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <br/>
        <button class="btn btn-primary">Go!</button>
    {{ form_end(resetForm) }}
{% endblock %}
