<!DOCTYPE html>
<html class="bg-gray-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Tiercé Kappa - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="relative flex flex-col justify-center items-center antialiased h-screen">
        <div class="container flex justify-center items-center flex-wrap">
            {% for message in app.session.flashbag.get('success') %}
                <div
                    x-data="{ hidden: false }"
                    class="absolute z-10 top-6 -translate-x-1/2 transition-all ease-in duration-1000 cursor-pointer"
                    :class="hidden ? '-top-full' : 'top-6'"
                    @click="hidden = true"
                >
                    <div class="bg-green-100 border border-gray-300 rounded-md pl-4 pr-12 py-3 relative" role="alert">
                        <span class="block sm:inline">{{ message }}</span>
                        <span  class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                </span>
                    </div>
                </div>
            {% endfor %}

            <div class="border border-1 rounded-lg bg-white p-6 space-y-4">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
